<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.teamProject.mapper.friendsMapper">
  
  <select id="getNickName" parameterType="String" resultMap="follow">
  	SELECT distinct FOLLOWING AS FOLLOWING FROM FOLLOW WHERE FOLLOWER IN (SELECT FOLLOWING FROM FOLLOW WHERE FOLLOWER = #{userId}) 
	AND FOLLOWING NOT IN (SELECT FOLLOWING FROM FOLLOW WHERE FOLLOWER =#{userId}) AND FOLLOWING != #{userId}
  </select>
  
  <select id="getReason" parameterType="String" resultMap="follow">
  	SELECT FOLLOWING FROM FOLLOW WHERE FOLLOWING IN (SELECT FOLLOWER FROM FOLLOW WHERE FOLLOWING =#{yourId}) AND FOLLOWER = #{myId}
  </select>
  
  <select id="getReasonCount" parameterType="String" resultType="int">
  	SELECT COUNT(*) FROM FOLLOW WHERE FOLLOWING IN (SELECT FOLLOWER FROM FOLLOW WHERE FOLLOWING =#{yourId}) AND FOLLOWER = #{myId}
  </select>
  
   <select id="getFollower" parameterType="String" resultMap="follow">
  	SELECT FOLLOWER FROM FOLLOW WHERE FOLLOWING =#{userId}
  </select>
  
  <select id="getFollowing" parameterType="String"  resultMap="follow">
  	SELECT FOLLOWING FROM FOLLOW WHERE FOLLOWER =#{userId}
  </select>
  
  <select id="getF4f" parameterType="String" resultMap="follow">
  	SELECT FOLLOWER FROM FOLLOW WHERE FOLLOWING IN #{userId} AND FOLLOWER IN (SELECT FOLLOWING FROM FOLLOW WHERE FOLLOWER =#{userId})
  </select>
  
   <select id="getUnF4f" parameterType="String" resultMap="follow">
  	SELECT FOLLOWER FROM FOLLOW WHERE FOLLOWING IN #{userId} AND FOLLOWER NOT IN (SELECT FOLLOWING FROM FOLLOW WHERE FOLLOWER =#{userId})
  </select>
	
	<insert id="Follow" parameterType="String">
		INSERT INTO FOLLOW VALUES(#{myId},#{yourId})
	</insert>
	
	<delete id="unFollow" parameterType="String">
		DELETE FOLLOW WHERE FOLLOWER=#{myId} AND FOLLOWING=#{yourId}
	</delete>
	
	<select id="newgetFollower" parameterType="String" resultMap="follow">
  	 SELECT following FROM FOLLOW WHERE follower IN #{userId} AND following NOT IN
  	  (SELECT YOURNICK FROM MSGLIST WHERE MYNICK=#{userId})
    </select>
	
	<select id="getUserInfo" parameterType="String" resultMap="getInfo">
  		SELECT USERNAME,NICKNAME,USERPROFILENAME FROM USERS WHERE USERID=#{userId}
 	</select>
 	
 	<select id="name" parameterType="String" resultType="String">
 		SELECT NICKNAME FROM USERS WHERE USERID=#{following}
 	</select>
	
  <resultMap type="com.teamProject.DTO.followDTO" id="follow">
  		<result property="follower" column="FOLLOWER" />
		<result property="following" column="FOLLOWING" />
  </resultMap>
  
  <resultMap type="com.teamProject.DTO.memberDTO" id="getInfo">
  		<result property="userName" column="USERNAME" />
  		<result property="nickName" column="NICKNAME" />
		<result property="userProfileName" column="USERPROFILENAME" />
  </resultMap>
  
  
  </mapper>